body * {
    transition: 0.3s;
}

body {
    margin: 0;
    background-color: rgb(179, 56, 56);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

h1 {
    color: white;
    font-family: "Noto Sans Display", sans-serif;
    font-family: "Titillium Web", sans-serif;
    font-size: 150px;
}

.increment-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 3px solid lightgray;
    cursor: pointer;
    min-width: 200px;
    border-radius: 50px;
    padding: 10px;
}

.increment-button h5 {
    color: lightgray;
    font-family: "Noto Sans Display", sans-serif;
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
}

.button:hover {
    background-color: rgb(56, 54, 54);
    border: 10px solid lightgray;
}
